@import '~antd/dist/antd.css';

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex{
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
}

.container{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  transition-duration: 0.5s;
}

.wrapper {
  width: 50%;
  float: left;
}

.w1 {
  perspective: 1000px;
}

.wrapper h1 {
  text-align: center;
}

.cube {
  height: 180px;
  width: 180px;
  transform-style: preserve-3d;
  /* transform: rotateX(-30deg) rotateY(45deg); */
}

.side {
  position: absolute;
  width: 180px;
  height: 180px;
}

.orange{
  height: 60px;
  width: 60px;
  border: 2px solid #000;
  background-color: orange;
}

.green{
  height: 60px;
  width: 60px;
  border: 2px solid #000;
  background-color: green;
}

.red{
  height: 60px;
  width: 60px;
  border: 2px solid #000;
  background-color: red;
}

.white{
  height: 60px;
  width: 60px;
  border: 2px solid #000;
  background-color: white;
}

.yellow{
  height: 60px;
  width: 60px;
  border: 2px solid #000;
  background-color: yellow;
}

.blue{
  height: 60px;
  width: 60px;
  border: 2px solid #000;
  background-color: blue;
}

.front  { transform:                  translateZ(90px); }
.top    { transform: rotateX( 90deg)  translateZ(90px); }
.right  { transform: rotateY( 90deg)  translateZ(90px); }
.left   { transform: rotateY(-90deg)  translateZ(90px); }
.bottom { transform: rotateX(-90deg)  translateZ(90px); }
.back   { transform: rotateY(-180deg) translateZ(90px); }
